
.desktopA {
background-color: #1f1f1f; 
height: 1024px;
width: 100%;
/* display: flex;
flex-direction: column;
justify-content: center; */
}

.desktopA .frameA {
height: 1024px; 
/* left: 128px; */
position: relative;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;

}

.desktopA .divA {
align-self: center;
background-color: #292929;
border-radius: 20px;
box-shadow: 0px 4px 8.4px #00000094; height: 622px;
margin:50px;
/* left: 120px;
position: relative;
top: 201px; */
width: 920px;
}


.desktopA .text-wrapperA { 
color: #ffffff;
font-family: "Inter-Regular", Helvetica; 
font-size: 25px;
font-weight: 400; 
left: 120px; 
letter-spacing: 0;
line-height:normal;
position: relative;
top: 100px;
width: 680px;
}

.desktopA .text-wrapper-2A {
color: #ffffff;
font-family: "Inter-Bold", Helvetica; 
font-size: 48px; 
font-weight: 700; 
left: 336px; 
letter-spacing: 0; 
line-height: normal; 
position: relative; 
top: 53px;
width: 248px;
}


.desktopA .my-journey-began-inA { 
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400; 
    left: 116px; 
    letter-spacing: 0; 
    line-height: normal; 
    position: relative; 
    top: 100px;
    width: 680px;
}

.desktopA .my-journey-began-in-button { 
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400; 
    /* left: 116px;  */
    letter-spacing: 0; 
    line-height: normal; 
    position: relative; 
    top: 100px;
    width: 680px;
}